.mo-sc-shadow-cstm {
    box-shadow: 0px 2px 5px rgb(0 0 0 / 12%);
}

.mo-sc-bg-main-cstm {
    background: #f4f4f4;
}

.mo-sc-bg-cstm {
    background: #d5e2ff;
}

.mo-sc-ms-3 {
    margin-left:1rem!important;
}

.mo-sc-ms-4 {
    margin-left:1.5rem!important;
}

.mo-sc-me-3 {
    margin-right:1rem!important;
}

.mo-sc-mx-3 {
    margin-left:1rem!important;
    margin-right:1rem!important;
}

.mo-sc-ps-3 {
    padding-left:1rem!important;
}

.mo-sc-pe-3 {
    padding-right:1rem!important;
}

.mo-sc-px-3 {
    padding-left:1rem!important;
    padding-right:1rem!important;
}

.mo-sc-m-3 {
    margin: 1rem !important;
}

.mo-sc-p-3 {
    padding: 1rem !important;
}

.mo-sc-mt-1 {
    margin-top:0.5rem!important;
}

.mo-sc-mt-4 {
    margin-top:1.5rem!important;
}

.mo-sc-my-3 {
    margin-top:1rem!important;
    margin-bottom:1rem!important;
}

.mo-sc-tile{
    border-radius:0.25rem;
    border-color: cadetblue;
    border-style: solid;
    width: 30%;
    padding: 0.5rem;
    border-width: 0.1rem;
    text-align: center;
    cursor: pointer;
}

.mo-sc-tile-anchor{
    text-decoration: none !important;
    color: black;
    outline: none;
}

.mo-sc-tile-anchor:hover{
    color: black;
}

.mo-sc-tile-anchor:active,:focus{
    outline: none;
    -moz-outline-style: none;
}

.mo-sc-containder-fluid{
    display:flex;
    flex-wrap:inherit;
    align-items:center;
    justify-content:space-between;
}

.mo-sc-row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.mo-sc-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.mo-sc-container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.mo-sc-col-md-8{
    flex:0 0 auto;
    width:66.66666667%;
}

.mo-sc-col-md-10{
    flex:0 0 auto;
    width:83.333333%;
}

.mo-sc-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.mo-sc-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}

.mo_sc_support_textbox {
    width: 80%;
}

.mo-sc-field-div {
    padding-bottom: 0.5rem;
}

.mo-sc-error_msg{
    background-color: #ffdfdf!important;
    font-size:15px!important;
}

.mo-sc-success_msg{
    background-color: #c8ffc8!important;
    font-size:15px!important;
}